@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');


/* NEGATIVE MODE */
body.inverted {
	background-color:#FF6666;
}

body {
	overflow: hidden;
	width:100vw;
	height:100vh;
	background-color:white;
}

*:not([color]).inverted {
	border-color:#FFFFFF;
	color:#FFFFFF;
}

*[color="#FF6666"].inverted {
	border-color:#FFFFFF !important;
	color:#FFFFFF !important;
}
/* NEGATIVE MODE END */

* {
	transition: background-color 1s, border-color 1s, color 1s;
}

.center {
	margin:0;
	position: relative;
	text-align: center;
}

/* NO SPINNER */
.small[type=number] {
	background-color: transparent;
	border:none;
	font-size:1em;
	margin:0;
	width: 35px;
	-moz-appearance: textfield;
}
.small[type="number"]::-webkit-outer-spin-button,
.small[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
    margin: 0;
}
/* NO SPINNER END */

label {
	font-size:1.2em;
}

footer {
	width: 100vw;
	position: absolute;
	bottom: 0px;
}

button {
	vertical-align: top;
	display: inline-block;
	margin:0 1vw 0 1vw;
	text-align:center;
	font-size: 2vw;
	width: 10vw;
	height: 10vw;
	border-radius: 5vw;
	border: 2vw solid;
	background-color: transparent;
	box-sizing: border-box;
}

input[type=checkbox]
{
	font-size:1.2em;
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	margin: 10px;
}
input[type=radio]
{
	font-size:1.2em;
	/* Double-sized Radios */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	margin: 10px;
}

.timeA,.timeB {
	font-family: 'B612 Mono',monospace;
}