.warning {
	margin: 10px !important;
	flex-direction:row;
	align-items : center;
	justify-content: center;
	width: 100vw;
	display:flex;
}

.warning * {
	display: inline-block;
}

#reset {
	transition: background-color 0.3s border-color 0.3s color 0.3s;
}

button.tools {
	zoom:0.8;
}