/*eye-saving theme*/
body {
	background-color: #8c8;
}
* {
	color: #ddd;
	border-color: #ddd;
}
::placeholder {
	color: #ccc;
}
.basic-dark-mode {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:99999;
	pointer-events: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.time h1 {
	display: inline;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 70px;
}
.time h1.second {
	font-size: 40px;
}
.time .up {
	position:relative;
	bottom: 6px;
}
.time .header {
	display: inline;
}

body {
	text-align: center;
}

.container {
	display: inline-block;
	width: 60vw;
	box-sizing:content-box;
	border: 30px solid;
	border-radius: 20px;
}
table {
	border-collapse:collapse;
	width:100%;
}
th,td {
	border: 3px solid;
	text-align: center;
}

th {
	font-family:'Nanum Gothic', sans-serif;
	font-weight:bold;
}
td {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
}
tr td input {
	background-color: transparent;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-size: 1em;
	box-sizing: border-box;
	position: relative;
	bottom: 1px;
	text-align: center;
	display: inline;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: border 0.5s;
	cursor:default;
}
tr td:nth-child(2) input, tr td:nth-child(4) input {
	width: 95%;
}
tr td:nth-child(3) input {
	width: 30%;
}
tr td input:hover {
	border: 1px solid gray;
}
tr th:nth-child(1),tr th:nth-child(2) {
	width: 20%;
}
tr th:nth-child(3),tr th:nth-child(4) {
	width: 30%;
}