.selecter {
	position:relative;
	margin: 0 17vw;
	width: 60vw;
	background-color: transparent;
	border: 3vw solid transparent;
	border-radius: 5vw;
	text-align: center;
}

.selecter * {
	color: #000000 !important;
}

.selecter h1{
	margin:0;
}
.selecter p {
	font-size:1.2em;
	margin:0;
}

.selecter #blocker {
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: none;
	position: absolute;
	top:0px;
	left:0px;
}

.fixed-selecter {
	background-color: #FF6666;
}

.fixed-selecter.inverted {
	background-color: #FFFFFF;
}



.timerbody {
	margin: 10px !important;
	flex-direction:row;
	align-items : center;
	justify-content: center;
	width: 100vw;
	display:flex;
}

.timerbody span {
	font-family: 'B612 Mono',monospace;
	font-size: 1.5em;
}

.timer {
	display: block;
	text-align: left;
	width: 70vw;
	height: 2em;
	border-radius: 2em;
	border: 0.5vw solid black;
}

.content {
	transition: none;
	position: relative;
	right: 0.2em;
	z-index:-1;
	height:2em;
	width: 0;
	display: inline-block;
	border-radius: 2em;
	background-color: transparent;
}