.filter {
	display:none;
}
.menu {
	filter: url("#shadowed-goo");
	opacity:60%;
}

.menu-item, .menu-open-button {
	border:none;
	outline:none;
	text-decoration:none;
	background: #ff431b;
	border-radius: 100%;
	width: 5vw;
	height: 5vw;
	margin-left: -2.5vw;
	position: absolute;
	top: 1.25vw;
	color: white;
	text-align: center;
	line-height: 5vw;
	transform: translate3d(0, 0, 0);
	transition: transform ease-out 200ms background 400ms;
}

.menu-open {
	display: none;
}

.icon {
	width: 25px;
	height: 3px;
	background: white;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12.5px;
	margin-top: -1.5px;
	transition: transform 200ms;
}

.icon-1 {
	transform: translate3d(0, 0, 0) rotate(90deg);
}

.icon-2 {
	transform: translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button .icon-1 {
	transform: translate3d(0, 0, 0) rotate(135deg);
}
.menu-open:checked + .menu-open-button .icon-2 {
	transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu {
	position:fixed;
	right: 8vw;
	bottom:20vh;
}

.menu-item:hover {
	background: white;
	color: #ff431b;
}
.menu-item:hover.checked {
	color: #00bcd4;
}
.menu-item:hover.purple {
	color: #70049b;
}
.menu-item:nth-child(n+3) {
	transition-duration: 180ms;
}

.menu-open-button {
	z-index: 2;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 400ms;
	transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	cursor: pointer;
}

.menu-open-button:hover {
	transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
	transition-timing-function: linear;
	transition-duration: 200ms;
	transform: scale(1, 1) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
	transition-duration: 211ms;
	transform: translate3d(-6.875vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
	transition-duration: 422ms;
	transform: translate3d(-13.75vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
	transition-duration: 633ms;
	transform: translate3d(-20.625vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
	transition-duration: 844ms;
	transform: translate3d(-27.5vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
	transition-duration: 1055ms;
	transform: translate3d(-34.375vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
	transition-duration: 1276ms;
	transform: translate3d(-41.25vw, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
	transition-duration: 1497ms;
	transform: translate3d(-48.125vw, 0, 0);
}
.checked {
	background-color:#00bcd4;
}
.purple {
	background-color:#70049b;
}
