body {
	background:black;
	transition: background 5s linear;
}

@keyframes rotate_forever {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(2592000deg);
	}
}
@keyframes rotate0 {
	0% {
		transform: rotate(315deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

@keyframes rotate3 {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(135deg);
	}
}

@keyframes rotate4 {
	0% {
		transform: rotate(135deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes rotate5 {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(225deg);
	}
}

@keyframes rotate6 {
	0% {
		transform: rotate(225deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@keyframes rotate7 {
	0% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(315deg);
	}
}

div.test {
	animation-duration: 1s;
	position:absolute;
	left:50%;
	top:50%;
	background:transparent;
	border-radius:50%;
	border-top: 5px solid white;
	border-bottom: 5px solid darkgray;
	border-left: 5px solid gray;
	border-right: 5px solid lightgray;
	transition: translate 5s ease-out, border-top 0.5s ease-out, border-bottom 0.5s ease-out, border-left 0.5s ease-out, border-right 0.5s ease-out, margin-left 0.5s ease-out, margin-top 0.5s ease-out;
}

.sizea {
	width: 60vh;
	height:60vh;
	margin-left:-30vh;
	margin-top:-30vh;
}

.sizeb {
	width: 65vh;
	height:65vh;
	margin-left:-32.5vh;
	margin-top:-32.5vh;
}

.sizec {
	width: 70vh;
	height:70vh;
	margin-left:-35vh;
	margin-top:-35vh;
}

.sized {
	width: 75vh;
	height:75vh;
	margin-left:-37.5vh;
	margin-top:-37.5vh;
}

.sizee {
	width: 80vh;
	height:80vh;
	margin-left:-40vh;
	margin-top:-40vh;
}

.sizef {
	width: 85vh;
	height:85vh;
	margin-left:-42.5vh;
	margin-top:-42.5vh;
}

.sizeg {
	width: 90vh;
	height:90vh;
	margin-left:-45vh;
	margin-top:-45vh;
}

.sizeh {
	width: 95vh;
	height:95vh;
	margin-left:-47.5vh;
	margin-top:-47.5vh;
}

p.text {
  transform: translate(-47%, -125%);
  position: fixed;
  top: 50%;
  left:50%;
  font-size:6vw;
  font-family: 'lato', sans-serif;
  color:cyan;
  text-shadow:
    0 0 100px #0ff;
}
